:root{
    --primary: #43705c;
    --dark: rgb(33, 37, 41);
    --lightBg: #BFC2C3;
    --helpText: #868686;
    --badge-bg: #e2e2e2;
} 
body {
     font-family: 'Poppins', sans-serif;
 }
 
 .main {
     padding-top: 50px;
 }
 
 
 
 .bg-light {
     background-color: var(--lightBg);
 }
 
 .form-box {
     max-width: 530px;
     margin-left: auto;
     margin-right: auto;
     padding-top: 50px;
     padding-bottom: 50px;
 }
 
 
 .main .row {
/*     flex-wrap: nowrap;*/
 }
 
 .main .col-md-6 {
     flex-grow: 1;
     max-width: unset;
 }
 
 .form-control {
/*     border: 1px solid var(--dark);*/
 }
 
 select {
     width: 100%;
 }
.custom-checkbox {
    display: flex;
} 
.custom-checkbox .c-check input[type="radio"]{
    display: none;
}
 .custom-checkbox .c-check{
     flex-basis: 50%;
     text-align: center;
}
.custom-checkbox .c-check:first-child{
    padding-right: 10px;
}
.custom-checkbox .c-check:last-child{
    padding-left: 10px;
}
.custom-checkbox .c-check label{
    padding: 10px 15px;
    background: #ffffff;
    color: var(--dark);
    border-radius: 4px;
    border: 1px solid var(--dark);
    margin-bottom: 0px;
    width: 100%;
}
.custom-checkbox .c-check input:checked + label{
    background: var(--primary);
    border: 1px solid var(--primary);
    color: #ffffff;
}
.btn-primary{
    background-color: var(--primary);
    border-color:  var(--primary);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active:focus{
    background-color: var(--primary);
    border-color:  var(--primary);
}
*{
    transition: all linear 0.15s;
}
#spouseDetails .form-box{
 
}
#spouseDetails:not(.spouse-show) {
    flex: 0;
    padding: 0;
}
#spouseDetails.spouse-show .form-box{
    display: block;
}
#result{
    padding-top: 30px;
    padding-bottom: 30px;
}
#result.show-details{
    display: block;
}
.ltci-dark-text{
    color: var(--dark);
}
.ltci-help-text{
    color: var(--helpText);
}
.badge{
    font-weight: 400;
    display: inline-block;
/*    background-color: var(--primary);*/
    color: var(--primary);
/*    padding-left: 10px;*/
/*    padding-right: 10px;*/
    border-radius: 4px;
    font-size: 16px;
/*    margin-left: 5px;*/
/*    margin-right: 5px;*/
    text-decoration: underline;
    font-weight: 700;
    font-size: 18px;
}
select{
        padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    -webkit-appearance: borderless-attachment;
}
.mb-10{
    margin-bottom: 5rem;
}
@media(max-width: 768px){
    #textOut.mb-10{
        margin-bottom: 3rem
    } 
    .keyDetails{
        margin-top: 1rem !important;
    }
    .privateLtci{
        margin-top: 3rem;
    border-top: 1px solid var(--badge-bg);
    padding-top: 3rem;
    }
}

ul{
    padding-left: 17px;
}
.annualCost strong{
    margin-left: 10px;
}
.box{
        padding: 20px;
    border: 1px solid var(--badge-bg);
    border-radius: 6px;
}
#annualIncome, #sincome{
    text-align: left !important;
}   
label span, .error-text{
    color: red;
}



/*Wizard*/
.sw-theme-arrows>.nav .nav-link.done{
    background-color: #343A3E;
    border-color: #343A3E;
}
.sw-theme-arrows>.nav .nav-link.done::after{
 border-left-color: #343A3E;   
}
.sw-theme-arrows>.nav .nav-link.active{
    background-color: #43705C;
    border-color: #43705C;
}
.sw-theme-arrows>.nav .nav-link.active::after{
    border-left-color: #43705C;
}
.sw>.nav .nav-link.hidden{
    display: block !important;
}
.sw-theme-arrows{
    border: none;
}
.toolbar{
    display: none;
}
.sw-theme-arrows>.nav{
    border-bottom: none;
}
#result > .row{
        max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
@media(min-width: 768px){
.flex-md{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
} 
    .flex-md .flex-content{
    width: 350px;
    border-radius: 6px;
}
}
.flex-md .flex-content{
    border: 1px solid #cccccc;
}
.annualCost{
    text-align: center;
}

.flex-content h5{
    text-align: center;
    margin-bottom: 30px;
}
.price{
    font-size: 30px;
    font-weight: 600;
    color: #43705C;
}
.keydetails{
    background: rgba(52, 58, 62, 0.2);
    padding: 15px;
}
.result-header{
    padding: 15px;
}

.keyDetails ul {
    padding: 0;
}

.keyDetails li {
    list-style-type: none;
    padding: 15px 15px 15px 30px;
    border-bottom: 1px solid rgba(52, 58, 62, 0.2);;
}
.annualCost{
 font-size: 14px;   
}
#tenYears{
    color: #343a3e;
}
.footer-text{
    padding-left: 15px;
    padding-right: 15px;
}

.stateLtciContainer ul li, .privateLtci ul li{
    position: relative;
}
.stateLtciContainer ul li:nth-child(1):before, .stateLtciContainer ul li:nth-child(2):before, .stateLtciContainer ul li:nth-child(3):before{
        content: "";
    width: 14px;
    height: 14px;
    background-image: url(cross.svg);
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 8px;
    top: calc(50% - 7px);
}
.privateLtci{
    border: 3px solid #42705b;
    box-shadow: 8px 19px 20px #42705b33;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    background: #ffffff;
}
.privateLtci ul li:nth-child(1):before, .privateLtci ul li:nth-child(2):before, .privateLtci ul li:nth-child(3):before{
        content: "";
    width: 14px;
    height: 14px;
    background-image: url(tick.svg);
    display: inline-block;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 8px;
    top: calc(50% - 7px);
}
.cta{
    padding-top: 50px;
    padding-bottom: 50px;
}